@import 'tailwindcss/base';
@import '@jod/design-system/dist/main.css';
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .text-capitalize::first-letter {
    text-transform: uppercase;
  }
}

/* Needed for sticky footer */
#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
