@import 'tailwindcss';
@import '@jod/design-system/dist/main.css';
@import '@jod/design-system/lib/theme.css';

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@utility text-capitalize {
  &::first-letter {
    text-transform: uppercase;
  }
}

@page {
  size: A4;
  margin: 15mm;
}

@media print {
  #ai-agent-component-root {
    display: none;
  }
}
