@import 'tailwindcss';
@import '@jod/design-system/dist/main.css';
@import '@jod/design-system/lib/theme.css';

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@utility text-capitalize {
  &::first-letter {
    text-transform: uppercase;
  }
}

/* Needed for sticky footer */
#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
